extends layout

block dynamic_content
	h3 Registration
	form(method='POST' action='')
		label(for='un') Username
		input#un.form-control(type='text', name='username')
		br
		label(for='pw1') Password
		input#pw1.form-control(type='text', name='password1')
		br
		label(for='pw2') Password again
		input#pw2.form-control(type='text', name='password2')
		button.btn.btn-primary(type='submit') Register
	if error_msg
		p #{error_msg}
	if errors 
		ul
			for error in errors
				li!= error.msg

