extends layout

block homepage
		h1 Welcome to Micro Blogger 5000 X Pro 
		if (error)
			p Unfortunatelly user data isn't available at the moment.
			p Please try again later.
		else 
			h3 We currently have !{data.user_count} registered users who have posted !{data.post_count} blogs
